.frame2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: static;

    left: 1px;
    top: 790px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 140px 0px;

}

.frame2_text {
    position: static;
    left: 11.3%;
    right: 11.3%;
    top: 0%;
    bottom: 94.37%;

    /* H1 */

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: flex-end;
    text-align: center;

    /* Black 87 */

    color: rgba(0, 0, 0, 0.87);


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame2_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    left: 0px;
    top: 90px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-right: 20px;
    border: 0px solid rgb(0, 0, 0);

}

.frame2_div_lowframe1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 1168px;
    height: 254px;
    left: 0px;
    top: 0px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
    border: 0px solid rgb(0, 0, 0);
}

.frame2_div_lowframe2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 1168px;
    height: 254px;
    left: 0px;
    top: 283px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 20px;
    border: 0px solid rgb(0, 0, 0);
}

.card1 {
    position: static;
    left: 0%;
    right: 68.32%;
    top: 0%;
    bottom: 0%;

    border-radius: 16px;
    background: #FFFFFF;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px 20px 20px;
    border: 0px solid rgb(255, 0, 0);
}

/* .card_reck1 {
    position: absolute;
    height: 254px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #ffffff;
    border-radius: 10px;

} */

.card_content1 {
    position: relative;
    left: 5.41%;
    right: 5.41%;
    top: 7.87%;
    bottom: 7.87%;
    max-width: 330px;
    /* width: 330px;
    height: 254px; */
    padding: 20px;


}

.card_content_frame7_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    background: #FFFFFF;
    position: relative;
    height: 214px;
    /* left: 20px; */
    right: 20px;
    /* top: 20px;  */
    border: 0px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.ellipse1_1 {
    position: static;
    left: 39.39%;
    right: 39.39%;
    top: 0%;
    bottom: 67.29%;

    background: url(svg/ellipse1_1.svg);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
}

.card_text1_1 {
    position: static;
    width: 330px;
    height: 26px;
    left: 0px;
    top: 90px;

    /* Body 16 */

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;

    /* Black 87 */

    color: rgba(0, 0, 0, 0.87);


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 20px 0px;
}

.card_text1_2 {
    position: static;
    width: 330px;
    height: 78px;
    left: 50%;
    top: 136px;
    transform: translate(2%, 0);

    /* Body 16 */

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;

    /* Black 87 */

    color: rgba(0, 0, 0, 0.87);


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px;
}

/*///////////////////////////////////////////*/
.frame2_button {
    position: static;
    left: 44.86%;
    right: 44.86%;
    top: 95.22%;
    bottom: 0%;
    width: 120px;
    height: 34px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 50px 0px;
    background: #F4E041;
    border-radius: 80px;
}

.frame2_rect {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Primary */


}

.frame2_button_text {
    position: relative;
    width: 83px;
    height: 26px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Body 16 */

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Black 87 */
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}