.frame3_text1 {
    position: relative;
    width: 1170px;
    height: 40px;
    left: 50%;
    top: 0px;
    transform: translate(-20%);
    /* H1 */

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: flex-end;
    text-align: center;

    /* Black 87 */

    color: rgba(0, 0, 0, 0.87);


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 50px 0px;
}

.frame3_div {
    position: static;
    width: 380px;
    height: 567px;
    left: 395px;
    top: 90px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    border: 1px solid red;
}