.frame3_text1 {
    position: relative;
    width: 1170px;
    height: 40px;
    left: 50%;
    top: 0px;
    transform: translate(-20%);
    /* H1 */

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: flex-end;
    text-align: center;

    /* Black 87 */

    color: rgba(0, 0, 0, 0.87);


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 50px 0px;
}

.frame3_div {
    position: static;
    width: 380px;
    height: 567px;
    left: 395px;
    top: 90px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    border: 0px solid red;
}

.frame3_TA_text {
    position: relative;
    left: 4.21%;
    right: 75.79%;
    top: 25.93%;
    bottom: 25.93%;

    /* Body 16 */

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */


    color: #7E7E7E;
}

.frame3_TA_input_name {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    border: 1px solid #D0CFCF;
    box-sizing: border-box;
    border-radius: 4px;
    width: 380px;
    height: 54px;
}

.frame3_TA_input_email {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    width: 380px;
    height: 54px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    margin-top: 50px;
    border: 1px solid #D0CFCF;
    box-sizing: border-box;
    border-radius: 4px;

}

.frame3_TA_input_phone {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    width: 380px;
    height: 54px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    margin-top: 50px;
    border: 1px solid #D0CFCF;
    box-sizing: border-box;
    border-radius: 4px;
}

.frame3_TA_phone_preview {
    position: relative;
    left: 4.21%;
    right: 59.74%;
    top: 107.41%;
    bottom: -33.33%;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */
    margin: 2px 0px 0px 0px;

    color: #7E7E7E;
}

.frame3_select {
    position: relative;
    width: 380px;
    height: 161px;
    left: 0px;
    top: 43px;
    border: 0px solid red;
}

.frame3_select_text {
    position: relative;
    width: 380px;
    height: 25px;
    top: 8px;

    /* Body 16 */

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 0px;
    /* or 162% */


    /* Black 87 */

    color: rgba(0, 0, 0, 0.87);
    border: 0px solid black;
}

/*radiobutton*/
.frame3_select_container {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;



    user-select: none;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    border: 5px solid transparent;


    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /* Black 87 */
    margin: 0px;
    color: rgba(0, 0, 0, 0.87);
}

/* Hide the browser's default radio button */
.frame3_select_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.frame3_select_checkmark {
    position: absolute;
    top: 0;
    left: 0;

    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.frame3_select_container:hover input~.frame3_select_checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.frame3_select_container input:checked~.frame3_select_checkmark {
    background: #00bcd1;

    border: 1px solid #00bcd1;
    background-color: transparent;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.frame3_select_checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.frame3_select_container input:checked~.frame3_select_checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.frame3_select_container .frame3_select_checkmark:after {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #00bcd1;
}

.frame3_TA_photo {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 20.38%;
    width: 380px;
    height: 54px;

    border: 1px solid #D0CFCF;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid red;
}