.main_frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 1170px;
    height: 2382px;
    left: 50%;
    transform: translate(-50%, 0px);
    top: 60px;
    border: 0px solid black;

}

.frame1 {
    position: static;
    width: 1170px;
    height: 650px;
    left: 0px;
    top: 0px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
    z-index: 0;
    border: 0px solid rgb(47, 0, 255);
}

.frame2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: static;
    width: 1168px;
    height: 711px;
    left: 1px;
    top: 790px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 140px 0px;

    border: 0px solid red;
}

.frame3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: static;
    width: 1170px;
    height: 741px;
    left: 0px;
    top: 1641px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;

    border: 0px solid rgb(0, 255, 8);
}

.frame1_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 380px;
    height: 257px;
    left: 50%;
    top: 164px;
    transform: translate(-50%, 0%);


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
    border: 0px solid rgb(0, 0, 0);
}

.text1 {
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 68.87%;

    /* H1 */

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
}

.text2 {
    position: static;
    left: 0%;
    right: 0%;
    top: 39.3%;
    bottom: 0%;

    /* Body 16 */

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 21px 0px;
}

.button_frame1 {
    position: relative;
    left: 50%;
    top: -189px;
    width: 100px;
    height: 34px;
    transform: translate(-50%, 0px);
    /* Inside auto layout */

    background-color: #F4E041;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px;
    border-radius: 80px;

}

.frame1_textbutt {
    position: relative;
    width: 55px;
    height: 26px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Body 16 */

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    display: flex;
    /* align-items: center; */
    text-align: center;
    cursor: pointer;
    /* Black 87 */
    margin: 0px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;

}