.wrapper {
    max-width: 2560px;
    margin: 0px auto;
    padding: 0px 15px;
}

body {
    max-width: 2560px;
    margin: 0px auto;
    padding: 0px 0px;
}

@media (max-width:1440px) {
    .wrapper {
        max-width: 1150px;
        background-color: rgb(255, 255, 255);
    }


}

@media(max-width:1199px) {
    .wrapper {
        max-width: 960px;
    }

    .card1 {
        max-width: 282px;
    }

    .frame2_div {
        max-width: 904px;
    }

    .card_text1_1 {
        max-width: 242px;
        content: "Salvador Stewart Flynn Thomas...";
    }

    .card_text1_2 {
        max-width: 242px;
    }
}

@media(max-width:991px) {
    .wrapper {
        max-width: 720px;

    }
}

@media(max-width:767px) {
    .wrapper {
        max-width: 540px;

    }
}

@media(max-width:540px) {
    .wrapper {
        max-width: 360px;

    }
}